.btn {
	display: inline-block;
	padding: 1rem 1.5rem;
	border-radius: $radius-pill;
	line-height: 0.6;
	font-weight: $font-weight-medium;
	transition: $transition;

	.icon {
		position: relative;
		height: 0.875em;
	}
}

.btn-primary {
	background: $primary;
	color: $white;

	&:hover {
		background: $secondary;
		color: $dark;
	}
}

.btn-secondary {
	background: $secondary;
	color: $dark;

	&:hover {
		background: $primary;
		color: $white;
	}
}

.btn-subtle {
	background: $light;
	color: $primary;

	&:hover {
		background: $primary;
		color: $white;
	}
}

.btn-icon {
	display: grid;
	grid-auto-flow: column;
	column-gap: 0.5rem;
	justify-content: start;
	align-items: center;
}

.btn-link {
	padding: 0;
	border-radius: 0;
	font-weight: 500;
	color: $primary;

	&:hover { opacity: 0.7; }
}

.btn-dark {
	&.btn-primary {
		background: $tertiary;
		color: $dark;

		&:hover { background: $peach-200; }
	}
}