input, textarea, select {
	font-family: $font-family-sans-serif;
	border-radius: $radius-sm;
	border: 1px solid $dark;
	padding: 0.25rem;
	width: 100%;
	font-size: 1rem;
	color: $dark;
}

input[type=number] {
	border: 0;
	width: 2.2em;
	padding: 0.25rem;
	background: $gray-100;
	border-radius: $radius-sm;
	text-align: center;
	font-size: 1.5rem;
	color: $dark;
}

input[type=radio] {
	position: relative;
	height: 1.25em;
	width: 1.25em;
	border: 2px solid $primary;
	border-radius: $radius-circle;
	margin: 0;
	margin-top: -0.15em;
	cursor: pointer;

	&:checked::before {
		content: '';
		position: absolute;
		width: 0.7em;
		height: 0.7em;
		background: $primary;
		border-radius: $radius-circle;
		left: calc(0.25em / 2);
		top: calc(0.25em / 2);
	}
}

label.required::after {
	content: '*';
	font-weight: $font-weight-bolder;
	color: $tertiary;
	margin-left: 0.5rem;
}