html, body {
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	line-height: 1.3;
	color: $dark;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Markazi Text', serif;
	line-height: 1.2;
}

h1, .h1 { font-size: 4rem; }
h2, .h2 { font-size: 2.5rem; }
h3, .h3 { font-size: 1.25rem; }
h4, .h4 { font-size: 1.125rem; }
h5, .h5 { font-size: 1rem; }
h6, .h6 { font-size: 0.875rem; }

a { text-decoration: none; }

.title {
	@extend h1;
	line-height: 0.75;

	span {
		@extend h2;
		display: block;
		line-height: 0.75;
	}
}

.title-primary {
	color: $primary;
	span { color: $secondary; }
}

.title-secondary {
	color: $white;
	span { color: $secondary; }
}