//~~	Colors  ~~~~~~~~~~~~~~~~~~~~~~~~//
$gray-100:	#EDEFEE;
$gray-200:	#CFCFCF;
$gray-300:	#B0B0B0;
$gray-400:	#919191;
$gray-500:	#727272;
$gray-600:	#525252;
$gray-700:	#333333;
$gray-800:	#222222;
$gray-900:	#111111;

$black:	#000000;
$white:	#FFFFFF;

$green:		#495E57;
$yellow:	#F4CE14;
$peach:		#EE9972;

$green-100:	tint-color($green, 80%);
$green-200:	tint-color($green, 60%);
$green-300:	tint-color($green, 40%);
$green-400:	tint-color($green, 20%);
$green-500:	$green;
$green-600:	shade-color($green, 20%);
$green-700:	shade-color($green, 40%);
$green-800:	shade-color($green, 60%);
$green-900:	shade-color($green, 80%);

$yellow-100:	tint-color($yellow, 80%);
$yellow-200:	tint-color($yellow, 60%);
$yellow-300:	tint-color($yellow, 40%);
$yellow-400:	tint-color($yellow, 20%);
$yellow-500:	$yellow;
$yellow-600:	shade-color($yellow, 20%);
$yellow-700:	shade-color($yellow, 40%);
$yellow-800:	shade-color($yellow, 60%);
$yellow-900:	shade-color($yellow, 80%);

$peach-100:	tint-color($peach, 80%);
$peach-200:	tint-color($peach, 60%);
$peach-300:	tint-color($peach, 40%);
$peach-400:	tint-color($peach, 20%);
$peach-500:	$peach;
$peach-600:	shade-color($peach, 20%);
$peach-700:	shade-color($peach, 40%);
$peach-800:	shade-color($peach, 60%);
$peach-900:	shade-color($peach, 80%);

$primary:		$green;
$secondary:	$yellow;
$tertiary:	$peach;
$dark: 			$gray-700;
$light:			$gray-100;





//~~	Border Radius  ~~~~~~~~~~~~~~~~~//
$radius-0:	0;
$radius-sm:	0.5rem;
$radius-lg:	1rem;





//~~	Transitions  ~~~~~~~~~~~~~~~~~~~//
$transition:	all ease-in-out 0.15s;